body {
  background-color: #663300;
}

.container-fluid {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
}

#species {
  max-width: 98%;
  width: 400px;
  max-height: 118px;
  margin: 3px 3px 3px 3px;
  float: left;
  overflow: hidden;
  background-color:#eae9d4; /*frame colour*/
  /*add a drop shadow to the frame*/
  box-shadow: 0 0 9px #080808;
  /*and give the corners a small curve*/
  border-radius: 4px;
}

#image {
  overflow: hidden;
  float: left;
  max-width: 41%;
}

#text{
  float: right;
  padding-left: 2px;
  padding-right: 2px;
  max-width: 58%;
  padding-top: 4px;
}

#chart{
  left: 50%;
  padding-left: 8px;
  float: left;
  padding-top: 20px;
}

#bottom-box {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: black;
    color: white;
    height: 46px;
}

#geolocation_denied {
    position: absolute;
    width: 200px;
    bottom: 50%;
    background: black;
    color: white;
}

.checkbox {
    position: relative;
    color: white;
    font-size: larger;
    height: 40px;
    margin: auto;
    padding-left: 15px;
    padding-top: 3px;
    float: left;
}

/*.shiny-input-container{
    position: relative;
    margin: 0;
}*/

#setting_button{
    position: fixed;
    bottom: 3px;
    margin: 2px;
    left: 3px;
}

#about_button{
    position: fixed;
    bottom: 3px;
    margin: 2px;
    right: 3px;
}

#settings_display{
    position: fixed;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 45px;
    background-color: rgba(30,30,30,0.9);
    display: none;
}

#location_title{
  font-size: larger;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 15px;
  color: white;
}

#date_title{
  font-size: larger;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 15px;
  color: white;
}

#about_display{
    position: fixed;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 45px;
    background-color: rgba(30,30,30,0.9);
    display: none;
}

#about_text{
  width: 200px;
	height: 100px;
	position: absolute;
	color: white;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -100px;
  
}

#hectad_man{
  width: 200px;
  margin-left: 10px;
}

#sortBy{
  position: relative;
  color: white;
  font-size: larger;
  padding-left: 15px;
  padding-top: 20px;
}

#date_man{
  width: 200px;
  margin-left: 10px;
}

#nodata {
    width: 290px;
    background: black;
    color: white;
    font-size: x-large;
    margin: 10% auto;
}